.venv/
.venv.invalid.*/
.ansible/
.cache/

.env
blitzecdn.toml

.state/
generated/*.yml
data/*.yml
data/*.db
data/*.db-shm
data/*.db-wal
**/*.lock
ansible/inventory/hosts.yml
log/*.log
*.retry

__pycache__/
*.pyc
dist/
*.egg-info/

.mypy_cache/
.pytest_cache/
.ruff_cache/

.coverage
coverage.xml
htmlcov/

.DS_Store
.codex/
