[DEFAULT]
bantime = {{ blitzecdn_fail2ban_ban_time }}
findtime = {{ blitzecdn_fail2ban_find_time }}
maxretry = {{ blitzecdn_fail2ban_max_retry }}

[sshd]
enabled = true
port = {{ blitzecdn_fail2ban_ssh_port }}
backend = systemd
