[defaults]
inventory = inventory/hosts.yml
host_key_checking = True
forks = 20
roles_path = ./roles
collections_path = ../.state/collections:~/.ansible/collections:/usr/share/ansible/collections
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 20
local_tmp = ../.state/ansible-local

[privilege_escalation]
become = False
become_method = sudo
become_user = root

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=15 -o ServerAliveCountMax=3
